<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica de Mascotas</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/estilos/estilos.css">
</head>
<body>
	<!-- aqui va el cuerpo -->
	<header th:fragment="header">
        <div class="container">
            <div class="barra-superior text-center">
                <h1 class="text-uppercase font-weight-bold">Clinica de mascotas</h1>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="nav-link"  href="/">Inicio</a>
                <a class="nav-link"  href="listarPropietario">Listar Propetario</a>
                <a class="nav-link"  href="agregarMascota">Agregar Mascota</a>
            </nav>
        </div>
    </header>
    
	<footer th:fragment="footer">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/logica/logic.js" async="async"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</footer>

</body>
</html>